#recordform {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin: auto;
    text-align: left;
}

#flash {
    min-height: 200px;
    min-width: 100%;
    border: 1px solid black;
}
