body {
	background-color: black;
	height: 100%;
}

.Sportsavatar {
	width: 80%;
}

.btn1 {
	background-color: black;
	color: white;
	border: 0px;
	width: 100%;
	height: 600px;;
}

.Avatar {
	opacity: 1;
}