<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/HomeCSS.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href='../static/navbar.css'>

    <meta charset="UTF-8">
    <title>House Simulator</title>
    <div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="../static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">logo</a>
			<ul>
				<li><a href="Sim.html">Home Simulator</a></li>
				<li><a href="sportshome.html">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
			</ul>
		</div>
    </div>
</head>
<body>
<br>
<br>
<br>
    <div id="user_input">
        <form method="POST">

            <div><label>How many light bulbs and of which type do you have at home?</label></div>
            <div class="form-row">
                <div class="form-group col-xs-1">{{ calc.led.label}} {{ calc.led(class_="form-control", value_=0) }}</div>
                <div class="form-group col-xs-1">{{ calc.cfl.label}} {{ calc.cfl(class_='form-control', value_=0) }}</div>
                <div class="form-group col-xs-1">{{ calc.inc.label}} {{ calc.inc(class_='form-control', value_=0) }}</div>
            </div>
            <div class="form-group">
            {{ calc.toish.label }} {{ calc.toish(class_='form-control', value_=1) }}
            {{ calc.toitype.label }} {{ calc.toitype(class_='form-control') }}
            </div>
            <div>{{ calc.submit(class_="btn btn-primary") }}</div>
        </form>
    </div>
</body>
</html>
