<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/HomeCSS.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href='../static/navbar.css'>

    <meta charset="UTF-8">
    <title>House Simulator</title>
    <div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="../static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">logo</a>
			<ul>
				<li><a id="Azim" href="Sim.html">Home Simulator</a></li>
				<li><a href="sportshome.html">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
			</ul>
		</div>
    </div>
</head>
<body>
<br>
<br>
<br>
<div id="user_output">
    <ul class="display_info">
        <li>You have <span class="number">{{ calc.led.data }}</span> LED light bulb(s).</li>
        <li>You have <span class="number">{{ calc.cfl.data }}</span> CFL light bulb(s).</li>
        <li>You have <span class="number">{{ calc.inc.data }}</span> Incandescent light bulb(s).</li>
        <li>You have <span class="number">{{ calc.toish.data }}</span> bathroom(s).</li>
        <li>You use <span class="number">{{ calc.toitype.data }}</span> Toilet(s).</li>
    </ul>
</div>
</body>
</html>
