<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Living</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/full-width-pics.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/HomeCSS.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href='../static/navbar.css'>

  </head>

  <body>
    <div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="../static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">Our Company Logo here</a>
			<ul>
				<li><a href="Sim.html">Home Simulator</a></li>
				<li><a href="sportshome">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
				<li><a href="/templates/sportshealth.html">Sports Health</a></li>
			</ul>
		</div>
    </div>
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="height:300px; background-image: url('../static/HomeSimulator.jpg');">
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1><a id='aaLinks' href='Sim.html'>Home Simulator</a></h1>
        <p class="lead">Features ability to calculate electricity and water usage in your home and provides tips and tricks to save up on them.</p>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('../static/SportsLiving.jpg');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1><a id='aaLinks' href='sportshome'>Sports Living</a></h1>
        <p class="lead">Provides tips and tricks for healthy and personalized workouts.<br> Learn about individual muscle groups and how to train them.</p>
      </div>
    </section>

    <section class="py-5 bg-image-full" style="background-image: url('../static/maretpacle.jpg');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <section class="py-5">
      <div class="container">
        <h1><a id='aaLinks' href=''>Shops</a></h1>
        <p class="lead">Browse the online market and purchase from the comfort of your home.</p>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white"></p>
      </div>
      <!-- /.container -->
    </footer>


    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
