<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Your health!</title>
    <link type="text/css" rel="stylesheet" href="/static/sportshealth.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link href='/static/navbar.css' rel='stylesheet' type='text/css'>
    <div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="/static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="Home.html" id="brand">Our Company Logo here</a>
			<ul>
				<li><a id="Azim" href="sportsavatar.html">Smart Living</a></li>
				<li><a href="sportshome.html">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
			</ul>
		</div>
	</div>
    {% block content %}
    {% endblock %}
</html>
