<!doctype html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Sports Health</title>
	<link type="text/css" rel="stylesheet" href="/static/sportshome.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link href='/static/navbar.css' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/record.css">
    {% endblock %}
</head>

<body>
<div id="navbar">
    <div class="container1">
        <p id="avatar">
            <a id="Joshua" href=""><img src="/static/avatar1.png" id="avatar1"></a>
        </p>
    </div>
    <div class="container2">
        <a href="Home.html" id="brand">Our Company Logo here</a>
        <ul>
            <li><a id="Azim" href="smartliving.html">Smart Living</a></li>
            <li><a href="sportshome.html">Sports Living</a></li>
            <li><a id="Syafiq" href="shop.html">Shops</a></li>
            <li><a href="/templates/sportshealth.html">Sports Health</a></li>
        </ul>
    </div>
</div>
<section class="content">
    {% block content %}{% endblock %}
</section>
</body>
