<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to your interactive avatar!</title>
	<link type="text/css" rel="stylesheet" href="SportsAvatar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<script type="text/javascript" src="SportsAvatar.js"></script>
</head>
<body>
	<div id="Avatarbg">
		<button class="btn1">
			<img src="Sports%20Avatar.jpg" class="Sportsavatar">
		</button>
		<div class="Avatar">
			<div class="sketchfab-embed-wrapper"><iframe width="100%" height="1080" src="https://sketchfab.com/models/e1d3965c1bd64d78adc99a35a32af4ba/embed?autostart=1&amp;camera=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>
		</div>
	</div>
</body>
</html>
