<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smart Sports!</title>
	<link type="text/css" rel="stylesheet" href="/static/SportsWorkout.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link href='/static/navbar.css' rel='stylesheet' type='text/css'>

	<div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href="ProfilePage.html"><img src="/static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">Company Logo</a>
            <form>
                <ul>
                    <li><a id="Azim" href="Sim.html">Smart Living</a></li>
                    <li><a id="Kovi" href="sportshome">Sports Living</a></li>
                    <li><a id="Syafiq" href="shop.html">Shops</a></li>
                    <li><a id="Kovi1" href="summary">Your Health Stats</a></li>
					<!--
					<ul id="dropdown">
                        Languages
                        <li><button type="submit" name="btn" value="en">English</button></li>
                        <li><button type="submit" name="btn" value="ms">Malay</button></li>
                    </ul>
                    -->
                </ul>
            </form>
		</div>
	</div>
</head>

<body>
	<div id="clear">
	</div>
	<div id="workout1">
		<img src="" id="workout1img">
		<div class="workout1">
			<h1>Workout Tips 1:</h1>
			<p>{{ workout1 }}</p>
		</div>
		<div class="video1">
			<iframe src="https://giphy.com/embed/HdK972OCf3ahy" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
	
	<div id="workout2">
		<img src="" id="workout2img">
		<div class="workout2">
			<h1>Workout Tips 2:</h1>
			<p>{{ workout2 }}</p>
		</div>
		<div class="video2">
			<iframe src="https://giphy.com/embed/65siwUOTfFIt2" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
	
	<div id="workout3">
		<img src="" id="workout3img">
		<div class="workout3">
			<h1>Workout Tips 3:</h1>
			<p>{{ workout3 }}</p>
		</div>
		<div class="video3">
			<iframe src="https://giphy.com/embed/3oz8xwkewgvaFB75Nm" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
</body>
</html>
