<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smart Sports!</title>
	<link type="text/css" rel="stylesheet" href="/static/SportsWorkout.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link href='/static/navbar.css' rel='stylesheet' type='text/css'>
	<div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="/static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">Our Company Logo here</a>
			<ul>
				<li><a id="Azim" href="Sim.html">House Simulator</a></li>
				<li><a href="sportshome.html">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
			</ul>
		</div>
	</div>
</head>

<body>
	<div id="clear">
	</div>
	<div id="workout1">
		<img src="" id="workout1img">
		<div class="workout1">
			<h1>Workout Tips 1:</h1>
			<p>For your arms, you can do a bicep/reverse curls and tricep extensions (Don't have to use weights) The bicep/reverse curl helps activate your biceps and forearms at the same time while doing the exercise and this ensures that both muscle groups are in tune. As triceps are about 60% of your arm size, tricep extensions help build bigger triceps that can make your arm drastically bigger</p>
		</div>
		<div class="video1">
			<iframe src="https://giphy.com/embed/HdK972OCf3ahy" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
	
	<div id="workout2">
		<img src="" id="workout2img">
		<div class="workout2">
			<h1>Workout Tips 2:</h1>
			<p>For your abs, you can do toe touches and mountain climbers. Toe touches activate your upper abdominal muscles and are an effective way to increase your abdominal muscle strength as well. Mountain climbers activate your lower abdominal muscles and they burn your belly fat by a whole lot.</p>
		</div>
		<div class="video2">
			<iframe src="https://giphy.com/embed/65siwUOTfFIt2" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
	
	<div id="workout3">
		<img src="" id="workout3img">
		<div class="workout3">
			<h1>Workout Tips 3:</h1>
			<p>For your legs, you can do asian squats and negative calf raises. Doing squats with good form can reverse and heal such injuries. For those with knee pain, check your arches and then push your knees outward while you squat. Calf Raises are often used as a rehabilitative exercise for Achilles tendon injuries. Apart from improving muscular strength, they will also give definition to your lower leg, improving its appearance.</p>
		</div>
		<div class="video3">
			<iframe src="https://giphy.com/embed/3oz8xwkewgvaFB75Nm" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
		</div>
	</div>
	
	<div id="workout4">
		<div class="workout4">
			<h1>OPTI _</h1>
			<h1>MISE</h1>
		</div>
	</div>
</body>
</html>
