<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Smart Sports!</title>
	<link type="text/css" rel="stylesheet" href="/static/sportshome.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet">
	<link href='/static/navbar.css' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="navbar">
		<div class="container1">
			<p id="avatar">
				<a id="Joshua" href=""><img src="/static/avatar1.png" id="avatar1"></a>
			</p>
		</div>
		<div class="container2">
			<a href="/" id="brand">Our Company Logo here</a>
			<ul>
				<li><a href="Sim.html">Home Simulator</a></li>
				<li><a href="sportshome.html">Sports Living</a></li>
				<li><a id="Syafiq" href="shop.html">Shops</a></li>
				<li><a href="sportshealth.html">Sports Health</a></li>
                <li></li>
			</ul>
		</div>
	</div>
	<div id="smart1">
		<img src="/static/SpS1.jpg" id="smart1img">
		<img src="/static/workoutgif1.gif" class="gif1">
		<div class="smart1">
			<h1>Why Smart?</h1>
			<p>Being smart with your sports is the next best thing especially <br> with all the new technology being put into place with advancements <br> of smart watches and fitness trackers</p>
		</div>
	</div>

	<div id="smart2">
		<img src="/static/SpD.jpeg" id="smart2img">
		<div class="smart2">
			<h1>Workout Tips</h1>
			<p>Ready to workout but don't know where to start? <br> Check out our tips on how to start and improve <br> yourself!</p>
		</div>
	</div>

	<div id="smart3">
		<img src="/static/SpF.jpeg" id="smart3img">
		<div class="smart3">
			<h1>Diet Tips</h1>
			<p>Here you can find personalised dieting tips <br> for your body type and your needs!</p>
		</div>
	</div>
</body>
</html>
