{% extends 'sportshealth.html' %}

{% block title %}Summary for {% endblock %}

{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/summary.css">
{% endblock %}

{% block content %}
<div id="content">
    <h1>These are your health statistics {{ user }}</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Height</th>
            <th>Weight</th>
            <th>BMI</th>
            <th>Fitness Level</th>
            <th>Date</th>
        </tr>
        {% for item in records %}
        <tr>
            <td>{{ user }}</td>
            <td>{{ item.get_height() }}</td>
            <td>{{ item.get_weight() }}</td>
            <td>{{ item.get_bmi() }}</td>
            <td>{{ item.get_fitness_level() }}</td>
            <td>{{ item.get_date() }}</td>
            {% endfor %}
    </table>
</div>

<div id="recordbutton">
    <a href="record">Record your Stats</a>
</div>

<div id="workouttips">
    <a href="sportsworkout">Workout Tips</a>
</div>
{% endblock %}
