{% extends 'sportshealth.html' %}

{% block header %}
  <h1>{% block title %}Your health statistics!{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>These are your health statistics {{ name }}</h1>
    <table style="width:50%">
        <tr>
            <th>ID</th>
            <th>Height</th>
            <th>Weight</th>
            <th>BMI</th>
            <th>Fitness Level</th>
        </tr>
        {% for item in records %}
        <tr>
            <td>{{ item.get_id() }}</td>
            <td>{{ item.get_height() }}</td>
            <td>{{ item.get_weight() }}</td>
            <td>{{ item.get_bmi() }}</td>
            <td>{{ item.get_fitness_level() }}</td>
        {% endfor %}

    </table>
{% endblock %}
